extends layout.pug

block content   
  h1=title
  form(action="/categories/add" method="post")
    .form-group 
      label Name: 
      input.form-control(name='name',  type='text' )
      ul.errors(style='text-align: center') 
        if errors 
          span(style='text-align: center') Errors:
          each error, i in errors   
            li.alert.alert-danger #{error}
    input.btn.btn-default(name='submit', type='submit', value='Submit')
