extends layout.pug 

block content 
  h1=title 
  form(method='post', action='/posts/add', enctype="multipart/form-data")
    .form-group   
      label Title:  
      input.form-control(name="title", type="text")
    .form-group   
      label Category  
      select.form-control(name="category")
        option(value=0) ----Choose Category----
        if categories
          each category, i in categories  
            option(value=category) #{category} 
    .form-group   
      label Body  
      textarea.form-control(name="body", id='editor')
    .form-group   
      label Main Image:  
      input.form-control(name="mainimage", type="file")
    .form-group   
      label Author:  
      select.form-control(name="author")
        option(value=0) ----Choose Author----
        option(value="Anand Shukla") Anand shukla 
        option(value="Shilpa Shinde") Shilpa Shinde 
      ul.errors(style="text-align: center") 
        if errors 
          span(style='text-align: center') Errors:
          each error, i in errors 
            li.alert.alert-danger  #{error}
    input.btn.btn-default(name='submit', type='submit', value='Save') 
    script(src="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.umd.js")
    script(src="/ckeditor5-builder/main.js")