.container{
  height: 20rem;
  width: 90%;
  border: 2px solid blueviolet;
  background-color: gold;
  /* display: flex;
  flex-direction: column; */
}
h1{
  color: red;
}
.padding{
  padding: .6rem;
}
.small-img{
  width: 5rem;
  height: auto;
}