{{#if projects}}
{{#each projects}}  
    <div class="column">
      <img class="thumbnail" src="/images/{{projectImage}}">
      <h5>{{title}}</h5>
      <p class="text-center show">
        <a href="/details/{{_id}}" target="_blank">Details</a>
      </p>
      
    </div>  
{{/each}}
{{else}}
  <p>No Projects</p>
{{/if}}