<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <title>Portfolio app - node js</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
          <div class="row column">
            <br>
            <img class="thumbnail" src="images/avatar.jpg">
            <h5>Anand Shukla</h5>
            <p>Full Stack Developer, with proficiency in Javascript, Typescript, Node.js, React.js and MongoDB. MERN Stack is one of the most used technology today and fits very well for real time applications which require fast request-respose cycle. MongoDB's flexible Database makes it possible to create huge scalable systems which are highly efficient and have almost zero downtime.</p>
          </div>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar hide-for-large">
            <div class="title-bar-left">
              <button class="menu-icon" type="button" data-open="my-info"></button>
              <span class="title-bar-title">Anand Shukla</span>
            </div>
          </div>
          <div class="callout primary">
            <div class="row column">
              <h1>Hello! This is a Full Stack Developer.</h1>
              <p class="lead">Proficient at most in demand technologies like Javascript, Typescript, Node.js, Express.js, React.js, React-Native, PWA, MongoDB and MySQL.</p>
            </div>
          </div>

          {{!-- <h2>-------------BREAK HERE-------------</h2> --}}
          <div class="padding small-up-2 medium-up-3 large-up-4">
            {{{body}}}
          </div>
          {{!-- <h2>------------------- BREAK HERE ---------------</h2> --}}

          <hr>

          
          <div class="text-center " >
            <a href="/admin">Admin area</a>
            <p>And4Web inc. Copyright &copy; 2025</p>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>



