<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <base href="http://localhost:5500"> --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Portfolio app - node js</title>
</head>
<body>
  {{{body}}}
</body>
</html>