.main{
  display: flex;
  flex-direction: column; 
  border: 1px solid black; 
  height: auto;
  width: auto;
}
.box{
  height: 50px; 
  width: 100%;
}
.box1{
  background-color: orangered;
}
.box2{
  background-color: white;
  position: relative;
}
.circle{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  left: 45%;
}
.box3{
  background-color: green;
}