extends manage.pug 

block content 
  h1 Edit book - #{title}
  form.addbook-form(action="/manage/books/add", method="post", enctype="multipart/form-data")
    .form-group
      label Book Title
      input.form-control(name="title", type="text" placeholder="Title must have at least 8 characters")
    .form-group
      label Book Description
      textarea.form-control(name="description", placeholder="Description must have at least 50 characters")
    .form-group
      label Category
      select.form-control(name="category")
        option(value="Choose Category") Choose Category
        option(value="Technology") Technology
        option(value="Entertainment") Entertainment
        option(value="Worldaffairs") World Affairs
        option(value="Travelling") Travelling
    .form-group
      label Book Author
      input.form-control(name="author", type="text" placeholder="Author name must have at least 3 characters")
    .form-group
      label Book Cover
      input.form-control(name="bookcover", type="file" placeholder="Title must have at least 8 characters")
    input(name='submit', type='submit', value='Save') 
    script(src="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.umd.js")
    script(src="/ckeditor5-builder/main.js")